/build/tmp
/downloads
bitbake-cookerdaemon.log
/build/sstate-cache/
*.lock
/build/cache
vivix-s/image/*
vivix-s/package/*
!vivix-s/package/package.sh
!vivix-s/image/dummy
.git_bak
sources/
.repo/
/README
/README-IMXBSP
/imx-setup-release.sh
/setup-environment
/repo
