/build/*
!/build/conf
/downloads
bitbake-cookerdaemon.log
*.lock
vivix-s/image/*
vivix-s/package/*
!vivix-s/package/package.sh
!vivix-s/package/app_image.gz.org
!vivix-s/package/script
!vivix-s/**/.dummy
!vivix-s/image/.dummy
!./dummy
.git_bak
sources/*
!/sources/meta-openwrt/
.repo/
/README
/README-IMXBSP
/imx-setup-release.sh
/setup-environment
/repo
