/build/*
!/build/conf/local.conf.org
!/build/conf/bblayers.conf.org
/downloads
bitbake-cookerdaemon.log
*.lock
vivix-s/image/*
vivix-s/package/*
!vivix-s/package/package.sh
!vivix-s/package/app_image.gz.org
!vivix-s/package/app/.dummy
!vivix-s/package/script/*
!vivix-s/package/output/app/.dummy
!vivix-s/package/output/driver/.dummy
!vivix-s/package/output/www/.dummy
!vivix-s/image/.dummy
.git_bak
sources/*
!/sources/meta-openwrt/
.repo/
/README
/README-IMXBSP
/imx-setup-release.sh
/setup-environment
/repo
